/* FORM */

.container-form {
  width: 100%;
  padding: 116px 20px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width: 769px){
  .container-form {
    display: grid;
    align-items: initial;
    grid-template-columns: repeat(5, 1fr);
    gap: 77px;
  }
}

.container-form > .subtitle {
  text-align: center;
  color: #F50057;
}

@media(min-width: 769px){
  .container-form > .subtitle {
    grid-column: 2;
    margin: 0;
    font-size: 3rem;
  }
}

.form__form {
  width: 100%;
  max-width: 376px;
}

@media(min-width: 769px){
  .form__form {
    max-width: 376px;
    grid-column: 3/5;
  }
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-size: 13px;
  margin-bottom: 51px;
}

.fieldset__input {
  height: 45px;
  margin-top: 4px;
  background-color: black;
  color: #F50057;
  border: none;
  border-bottom: solid 2px #F50057;
  border-radius: 3px;
  outline: none;
}

.fieldset__textarea {
  height: 113px;
  margin-top: 4px;
  background-color: black;
  color: #F50057;
  border: none;
  border: solid 2px #F50057;
  border-radius: 5px;
  outline: none;
}

.form__button {
  font-family: "Poppins";
  width: 100%;
  padding: 11px 31px;
  background-color: #F50057;
  color: white;
  border: none;
  border: solid 2px black;
  border-radius: 4px;
}

.form__button:hover {
  background-color: #9b3a5c;
}

.form__message {
    color: rgba(250, 250, 250, 1);
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 30px;
    display: none;
}

@media(min-width: 769px){
  .form__message {
    grid-column: 3/5;
    padding: 0;
    max-width: 376px;
  }
}
